<p>Are you sure you want to close the edit form?</p>
<div class="ngdialog-buttons">
    <md-button class="md-raised btn-fw m-b-sm pull-right" ng-click="closeThisDialog(0)">No</md-button>
    <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-click="confirm(1)">Yes</md-button>
    <!--<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">No</button>-->
    <!--<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(1)">Yes</button>-->
</div>
