<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading bg-white">
            Create New Post<br>
            <small class="text-muted">
                Tao Bai Viet Moi
            </small>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" class="form-control" ng-model="data.article.post_status">
                        <option value=""> -- Select One --</option>
                        <option value="1"> Enable</option>
                        <option value="0">Disable</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" ng-model="data.article.category_id">
                        <option value=""> -- Select One --</option>
                        <option value="1"> 234</option>
                        <option value="2">345</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea id="content" ui-tinymce="tinymceOptions" ng-model="data.article.post_content"></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" ng-model="data.article.price">
                </div>
                <div class="form-group">
                    <label for="label">Label</label>
                    <select ng-model="data.article.label_type" id="label" class="form-control">
                        <option value=""> -- Select One --</option>
                        <option value="1"> Sales</option>
                        <option value="2"> Normal</option>
                    </select>
                </div>
                <button ng-click="submitPost()" class="btn btn-default m-b">Submit</button>
            </form>
        </div>
    </div>
</div>
