<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading bg-white">
            Create New Post<br>
            <small class="text-muted">
                Tạo Bài Viết Mới
            </small>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" ng-model="data.article.post_title">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" class="form-control" ng-model="data.article.post_status">
                        <option value=""> -- Select One --</option>
                        <option value="1">Enable</option>
                        <option value="0">Disable</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" ng-model="data.article.category_id"
                            ng-options="opt.id as opt.label for opt in data.categoryData ">
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" ng-model="data.article.price">
                </div>
                <div class="form-group">
                    <label for="label">Label</label>
                    <select id="label" class="form-control" ng-model="data.article.label_type"
                            ng-options="opt.id as opt.label for opt in data.labelType ">
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea id="content" ui-tinymce="tinymceOptions" ng-model="data.article.post_content"></textarea>
                </div>
                <div class="form-group">
                    <label for="short_content">Short Content</label>
                    <textarea id="short_content" ui-tinymce="tinymceOptions" ng-model="data.article.post_short_content"></textarea>
                </div>
                <div class="form-group">
                    <label>Image Url</label>
                    <div
                         flow-init
                         flow-file-success="uploadImageSuccess( $file, $message, $flow )"
                         flow-file-added="uploadImageAdded( $file, $event, $flow )">
                        <input type="text" class="form-control"
                               ng-model="data.article.post_image_url" ng-disabled="true"
                               required>
                        <div class="thumbnail" ng-hide="$flow.files.length">
                            <!--<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>-->
                            <!--FIXME: need use url manager-->
                            <img src="{{ data.hostname + '/imagecache/small_article/' + data.article.post_image_url}}"/>
                        </div>
                        <div class="thumbnail" ng-show="$flow.files.length">
                            <img flow-img="$flow.files[0]"/>
                        </div>
                        <div>
                            <span class="btn" flow-btn ng-hide="$flow.files.length"><i class="icon icon-file"></i>Upload File</span>
                            <span class="btn" ng-show="$flow.files.length" flow-btn>Change</span>
                            <a class="btn btn-success" ng-click="$flow.resume()" ng-show="$flow.files.length">Upload</a>
                            <span class="btn btn-danger" ng-show="$flow.files.length"
                                  ng-click="$flow.cancel()">
                Remove
            </span>
                        </div>
                        <p>
                            Only PNG,GIF,JPG files allowed.
                        </p>
                        <div ng-show="$flow.isUploading()">
                            <p>Queue progress:</p>
                            <div class="progress bg-light dker" ng-class="{active: $flow.isUploading()}">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                     ng-style="{ 'width': $flow.progress() * 100 + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button ng-click="submitPost()" class="btn btn-default m-b">Submit</button>
            </form>
        </div>
    </div>
</div>
